<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../css/style.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  @@include("header.html")
  <body>
      @@include("home.html")
      <main class="page"></main>
      <!-- @@include("_footer.html") -->
    </div>
    <!-- @@include("_js.html") -->
  </body>
</html>
