<!-- <div class="oleg-slider">
  <div class="container">
    <div class="oleg-slider__title">
      <div class="subtitle">
        <p>Explorel</p>
        <h2>Featured</h2>
      </div>
      <div class="buttons">
        <a class="previous">&#8249; <span>Prev</span> </a>
        <a class="next"> <span>Next</span> &#8250;</a>
      </div>
    </div>
    <div class="content">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="img-bg">
            <img src="/dist/img/oleg.webp" alt="text" />
          </div>
          <div class="info">
            <div class="price-name">
              <h4>$ 2 0 0 0 0</h4>
              <p>Lapaivka</p>
            </div>
            <div class="details">
              <a href="#"> View </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-bg">
            <img src="/dist/img/oleg.webp" alt="text" />
          </div>
          <div class="info">
            <div class="price-name">
              <h4>$ 2 0 0 0 0</h4>
              <p>Lapaivka</p>
            </div>
            <div class="details">
              <a href="#"> View </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-bg">
            <img src="/dist/img/oleg.webp" alt="text" />
          </div>
          <div class="info">
            <div class="price-name">
              <h4>$ 2 0 0 0 0</h4>
              <p>Lapaivka</p>
            </div>
            <div class="details">
              <a href="#"> View </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-bg">
            <img src="/dist/img/oleg.webp" alt="text" />
          </div>
          <div class="info">
            <div class="price-name">
              <h4>$ 2 0 0 0 0</h4>
              <p>Lapaivka</p>
            </div>
            <div class="details">
              <a href="#"> View </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-bg">
            <img src="/dist/img/oleg.webp" alt="text" />
          </div>
          <div class="info">
            <div class="price-name">
              <h4>$ 2 0 0 0 0</h4>
              <p>Lapaivka</p>
            </div>
            <div class="details">
              <a href="#"> View </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-bg">
            <img src="/dist/img/oleg.webp" alt="text" />
          </div>
          <div class="info">
            <div class="price-name">
              <h4>$ 2 0 0 0 0</h4>
              <p>Lapaivka</p>
            </div>
            <div class="details">
              <a href="#"> View </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
