<div class="slider">
  <div class="container">
    <div class="title" data-aos="flip-up">
      <h2>Trusted by leading brands.</h2>
    </div>
    <div class="owl-carousel">
      <a href="#">
        <div class="slider-item">
          <img class="head-img" src="../img/slider/01.png" alt="sl-01" />
          <div class="slider-title">
            <img src="../img/slider/name.svg" alt="name-01" />
            <div class="slider-text">
              <p>
                Clinique builds relationships with millions of customers each
                year.
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="slider-item">
          <img class="head-img" src="../img/slider/02.png" alt="sl-02" />
          <div class="slider-title">
            <img src="../img/slider/name2.svg" alt="name-02" />
            <div class="slider-text">
              <p>
                River Island transforms the customer experience with
                personalization.
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="slider-item">
          <img class="head-img" src="../img/slider/03.png" alt="sl-03" />
          <div class="slider-title">
            <img src="../img/slider/name3.svg" alt="name-03" />
            <div class="slider-text">
              <p>
                MandM Direct drives increase in revenue with deep learning recs
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="slider-item">
          <img class="head-img" src="../img/slider/01.png" alt="sl-01" />
          <div class="slider-title">
            <img src="../img/slider/name.svg" alt="name-01" />
            <div class="slider-text">
              <p>
                Clinique builds relationships with millions of customers each
                year.
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="slider-item">
          <img class="head-img" src="../img/slider/01.png" alt="sl-01" />
          <div class="slider-title">
            <img src="../img/slider/name.svg" alt="name-01" />
            <div class="slider-text">
              <p>
                Clinique builds relationships with millions of customers each
                year.
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="slider-item">
          <img class="head-img" src="../img/slider/01.png" alt="sl-01" />
          <div class="slider-title">
            <img src="../img/slider/name.svg" alt="name-01" />
            <div class="slider-text">
              <p>
                Clinique builds relationships with millions of customers each
                year.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
