.connect {
  background-color: #f5f5f5;
  overflow: hidden;

  &__row {
    display: flex;
    padding: 75px 0;
    flex-wrap: wrap;

    .title {
      margin: 40px 0;
    }
  }

  &__right {
    width: 50%;

    .text {
      padding-top: 20px;

      p {
        margin: 15px 0;
      }
    }

    .button-purple {
      display: inline-block;
      margin-top: 60px;
    }
  }

  &__left {
    width: 50%;

    img {
      width: 100%;
    }
  }
}
